<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eclipseapps.financial.moneytracker"
    android:minSdkVersion="15"
    android:targetSdkVersion="24"
    android:installLocation="preferExternal">



    <compatible-screens>
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <screen android:screenSize="small" android:screenDensity="420" />
        <screen android:screenSize="small" android:screenDensity="480" />
        <screen android:screenSize="small" android:screenDensity="560" />
        <screen android:screenSize="small" android:screenDensity="640" />
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
        <screen android:screenSize="normal" android:screenDensity="420" />
        <screen android:screenSize="normal" android:screenDensity="480" />
        <screen android:screenSize="normal" android:screenDensity="560" />
        <screen android:screenSize="normal" android:screenDensity="640" />
        <screen android:screenSize="large" android:screenDensity="ldpi" />
        <screen android:screenSize="large" android:screenDensity="mdpi" />
        <screen android:screenSize="large" android:screenDensity="hdpi" />
        <screen android:screenSize="large" android:screenDensity="xhdpi" />
        <screen android:screenSize="large" android:screenDensity="420" />
        <screen android:screenSize="large" android:screenDensity="480" />
        <screen android:screenSize="large" android:screenDensity="560" />
        <screen android:screenSize="large" android:screenDensity="640" />
    </compatible-screens>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <!-- <uses-permission android:TAG_FragmentName="android.permission.MANAGE_DOCUMENTS"/!-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="eclipseapps.financial.moneytracker.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".AnalyticsApplication"
        tools:replace="allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/personalmoneyicon"
        android:roundIcon="@mipmap/personalmoneyicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        android:screenOrientation="portrait"><!-- IP_DEBUG! android:networkSecurityConfig="@xml/network_security_config"-->



        <service
            android:name="eclipseapps.financial.moneytracker.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="eclipseapps.financial.moneytracker.sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".sync.SyncServiceAux"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name=".sync.MyPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="eclipseapps.financial.moneytracker"/>
            </intent-filter>
        </receiver>
        <service android:name=".sync.MyPushService" />
        <receiver
            android:name=".interfaces.onAlarmReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- Inmobi integration!-->
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:theme="@android:style/Theme.NoTitleBar"
            tools:ignore="UnusedAttribute" />
        <activity android:name=".cloud.AndroidDatabaseManager" />
        <receiver
            android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.inmobi.share.id"/>
            </intent-filter>
        </receiver>
        <!-- Inmobi integration!-->
        <activity
            android:name=".activities.Factura_activity"
            android:theme="@style/AppTheme.Base"/>
        <activity android:name=".activities.FacturaViewer_activity"
            android:theme="@style/AppTheme.Base"/>
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.action.FROM_NOTIFICATION"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TutorialAcitvity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.etiennelawlor.imagegallery.library.activities.ImageGalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label=""
            android:theme="@style/AppTheme.Base"/>
        <activity
            android:name=".activities.filterActivity"
            android:label="@string/Filtrarpor" />
        <activity
            android:name=".activities.Movement"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity" >
            <intent-filter>
                <category android:name="android.intent.action.FROM_NOTIFICATION"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.gallery_activity" />

        <activity android:name=".activities.dialogActivity"
            android:theme="@style/Theme.UserDialog"
            android:excludeFromRecents="true"
            android:label="Elimina los anuncios"/>

        <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="eclipseapps.financial.moneytracker.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
            <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths"></meta-data>
        </provider>
        <provider
            android:name="eclipseapps.financial.moneytracker.sync.StubProvider"
            android:authorities="eclipseapps.financial.moneytracker.datasync.provider"
            android:exported="false"
            android:syncable="true"/>
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="${analytics_deactivated}" />
    </application>

</manifest>